<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="caw-plugin-builder/vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         failOnWarning="true"
         cacheResult="false">
	<testsuites>
		<testsuite name="caw-plugin-builder">
			<directory suffix="Test.php">tests</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">caw-plugin-builder/includes</directory>
		</include>
	</coverage>
</phpunit>
